.imagen-inicio{
    width: 100%;
    height: 86vh;
    background-image: url(../assets/images/render-index.jpg);
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}
