/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * h2.subtitulo {
    font-size: 28px;
    margin-bottom: 35px;
    padding: 15px; }
    * h2.subtitulo span {
      border-bottom: 5px solid; }
  * h1,
  * h2,
  * h3,
  * h4,
  * h5,
  * h6 {
    font-family: 'Josefin Sans', sans-serif; }
  * p,
  * a {
    font-family: 'Lato', sans-serif; }
  * .columnaBorderTop {
    border-top: 5px solid; }

#menu .miLogo {
  width: 125px; }

.row__menu {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1; }

@keyframes movimiento-background-uno {
  0% {
    background-position: bottom left; }
  100% {
    background-position: top right; } }
@keyframes movimiento-background-dos {
  0% {
    background-size: 100%; }
  100% {
    background-size: 120%; } }
@keyframes img-opacity {
  13% {
    opacity: 0; }
  14% {
    opacity: 1; }
  47% {
    opacity: 1; }
  48% {
    opacity: 0; } }
@keyframes simbolo-1 {
  0% {
    opacity: 1;
    top: -10%;
    left: 49%;
    transform: scaleY(3.5); }
  33% {
    opacity: 1;
    top: 75%;
    left: 49%;
    transform: scaleY(0.7); }
  90% {
    opacity: 1;
    top: 75%;
    left: 49%;
    transform: scaleY(0.7); }
  100% {
    opacity: 1;
    top: 75%;
    left: 3%;
    transform: scaleY(0.7); } }
@keyframes simbolo-2 {
  0% {
    opacity: 0;
    top: -10%;
    left: 49%; }
  33% {
    opacity: 0;
    top: -10%;
    left: 49%;
    transform: scaleY(3.5); }
  90% {
    opacity: 1;
    top: 75%;
    left: 49%;
    transform: scaleY(0.7); }
  100% {
    opacity: 1;
    top: 75%;
    left: 3%;
    transform: scaleY(0.7); } }
#inicio {
  width: 100%;
  height: auto; }
  #inicio .carousel {
    width: 100%;
    height: auto; }
  #inicio .contenedor-inicio-carousel {
    height: 60vh; }
  #inicio .img-carousel-inicio {
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  #inicio .carousel-container {
    height: auto;
    display: inline-block; }
    #inicio .carousel-container #item-carousel-uno {
      background-image: url("../assets/images/Renders-inico/Inicio1.jpg");
      background-size: 110%; }
    #inicio .carousel-container #item-carousel-dos {
      background-image: url("../assets/images/Renders-inico/Inicio2.jpg"); }
    #inicio .carousel-container #item-carousel-tres {
      background-image: url("../assets/images/Renders-inico/Inicio3.jpg");
      background-size: 110%; }
  #inicio .logo-container {
    display: none;
    height: 85vh; }
  @media (min-width: 992px) {
    #inicio .img-carousel-inicio {
      height: 100vh; }
    #inicio #item-carousel-uno {
      animation: movimiento-background-uno 10s linear; }
    #inicio #item-carousel-dos {
      animation: movimiento-background-dos 10s linear; }
    #inicio #item-carousel-tres {
      animation: movimiento-background-uno 10s linear; }
    #inicio .logo-container {
      display: inline-block; }
    #inicio .img-logo img {
      opacity: 0;
      width: 80px;
      position: absolute;
      top: 50%;
      left: 49%;
      animation-name: img-opacity;
      animation-duration: 3s;
      transition: all 0s linear; }
    #inicio .inicio__animacion img {
      width: 80px; }
    #inicio .inicio__animacion .simbolo-1 {
      position: absolute;
      opacity: 1;
      top: 75%;
      left: 3%;
      animation-name: simbolo-1;
      animation-duration: 3s;
      transition: all 4s ease-in;
      transform: scaleY(0.7); }
    #inicio .inicio__animacion .simbolo-2 {
      position: absolute;
      opacity: 1;
      top: 75%;
      left: 3%;
      animation-name: simbolo-2;
      animation-duration: 3s;
      transition: all 4s ease-in;
      transform: scaleY(0.7); } }

.slogan__contenedor {
  padding: 40px 0px;
  height: 25vh;
  display: flex;
  align-items: center; }
  .slogan__contenedor .sloganLato {
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  .slogan__contenedor p {
    margin-bottom: 0px; }

#nosotros {
  padding: 30px 0px; }
  #nosotros p {
    font-size: 1rem; }
  #nosotros .nosotros__foto--tamanio {
    width: 90%;
    justify-content: center;
    border-radius: 2px; }
  #nosotros .nosotrosText {
    color: #9B9B9B;
    font-size: 1.3rem;
    padding: 15px; }

#proyectos {
  padding: 30px 0px; }
  #proyectos .nav-proyectos ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  #proyectos .nav-proyectos button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    color: #9B9B9B;
    margin-right: 20px;
    padding-left: 15px; }
  #proyectos .nav-proyectos button:hover {
    color: black; }
  #proyectos .nav-proyectos button.active {
    color: black; }
  #proyectos .contenedor-proyectos {
    padding: 20px; }
  #proyectos .button-img-proyectos {
    object-fit: cover;
    width: 90%;
    height: 350px; }
  #proyectos .video-list-proyectos {
    width: 90%;
    height: 350px;
    object-fit: cover; }
  @media (min-width: 576px) {
    #proyectos .nav-proyectos ul {
      flex-direction: row; } }

.carousel {
  display: block;
  margin: auto;
  width: 100%;
  height: auto; }
  .carousel .img-carousel-proyectos {
    width: 100vw;
    max-height: 100vh;
    object-fit: cover; }
  .carousel .img-carousel-realidad {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 90vh; }
  .carousel .video-carousel-proyecto,
  .carousel .video-carousel-proyecto source {
    display: block;
    margin: auto;
    width: 100vw;
    max-height: 80vh;
    border: none;
    object-fit: cover; }

.carousel .imgSlider {
  width: 100%;
  height: auto; }

.modal-content {
  background-color: transparent;
  border: none;
  overflow: none; }
  .modal-content .modal-body {
    height: auto; }

.modal-backdrop {
  width: 100vw;
  height: 150vh; }

.modal-content {
  width: 90vw;
  padding: 100px 10px;
  background-color: transparent;
  border: none; }
  @media (min-width: 576px) {
    .modal-content {
      padding: 0; } }

.modal-header {
  border: none; }

.spinner {
  margin: 10px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: black;
  background: white;
  animation: spin 1s linear infinite; }

.cargando {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #999; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#servicios {
  padding: 30px 0px; }
  #servicios .row {
    padding: 0;
    margin-left: 0px;
    margin-right: 0px; }
  #servicios .card-title {
    font-size: 1rem; }
  #servicios .subtitulo {
    padding-left: 15px;
    padding-right: 15px; }
  #servicios .servicios__alto {
    min-height: 373px; }
  #servicios .servicios__padding {
    padding: 1rem 1rem 0 1rem;
    min-height: 80px; }
  #servicios .serviciosSombra {
    box-shadow: 3px 3px 15px #999; }

#contacto {
  padding: 30px 0; }
  #contacto p {
    font-size: 20px;
    padding: 0px 15px; }
    #contacto p strong {
      line-height: 50px; }
  #contacto form {
    width: 100%; }
    #contacto form .form-control {
      font-size: 17px;
      border: 1px solid #333;
      border-radius: 0 !important; }
    #contacto form .textarea-form {
      resize: none; }
    #contacto form .btn {
      border-radius: 0 !important;
      margin: 0 !important; }
  #contacto .alert-form {
    bottom: -50px;
    left: 5px;
    border-radius: 0 !important;
    margin: 0 !important; }

#footer {
  background-color: #282c2d;
  padding: 15px; }
  #footer p {
    color: white;
    margin-bottom: 0px;
    text-align: center; }
  #footer .footer__logo {
    width: 80px; }
  #footer .footer__textoVectores {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #footer .footer__contenedorVectores {
    display: flex;
    justify-content: center; }
  #footer .footer__vector {
    margin-top: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: white; }

@media (min-width: 576px) {
  h2.subtitulo {
    font-size: 34px;
    margin-bottom: 35px;
    padding: 15px; }
    h2.subtitulo span {
      border-bottom: 5px solid; }

  #nosotros {
    padding: 100px 0px; }
    #nosotros .nosotros__foto--tamanio {
      width: 90%; }
    #nosotros .nosotrosText {
      padding-top: 0px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 50px; }

  #inicio .contenedor-inicio-carousel {
    height: 100vh; }
  #inicio .img-carousel-inicio {
    height: 70vh; }

  .slogan__contenedor {
    padding: 40px 0px;
    height: 30vh; }
    .slogan__contenedor .sloganLato {
      font-size: 1.1rem;
      line-height: 32px; }
    .slogan__contenedor p {
      margin-bottom: 0px; }

  #proyectos {
    padding: 100px 0px; }

  #servicios {
    padding: 100px 15px; }
    #servicios .card-title {
      font-size: 1.1rem; }
    #servicios .servicios__alto {
      min-height: 373px; }
    #servicios .servicios__padding {
      padding: 2rem 2rem 0 2rem;
      min-height: 80px; }
    #servicios .serviciosSombra {
      box-shadow: 3px 3px 15px #999; }

  #contacto {
    padding: 100px 0px; } }
@media (min-width: 768px) {
  .nav__bordeDer {
    border-right: 1px solid; }

  #inicio .carousel {
    position: absolute;
    width: 100vw;
    height: auto;
    max-height: 100vh; }
  #inicio .img-carousel-inicio {
    height: 100vh;
    animation: movimiento-background-uno 20s linear; }
  #inicio .logo-container {
    width: 90vw;
    position: relative; }
  #inicio .slogan__contenedor {
    padding: 40px 0px;
    height: 35vh; }
    #inicio .slogan__contenedor .sloganLato {
      font-size: 1.2rem;
      line-height: 32px; }

  #nosotros .nosotros__foto--tamanio {
    width: 75%; }
  #nosotros .nosotrosText {
    font-size: 1.3rem;
    line-height: 35px;
    padding-top: 0px;
    padding-right: 130px;
    padding-left: 15px; }

  #contacto {
    padding: 100px 0; }
    #contacto p {
      font-size: 20px; }
      #contacto p strong {
        line-height: 50px; }
    #contacto form {
      width: 100%; }
      #contacto form .form-control {
        font-size: 17px;
        border: 1px solid #333;
        border-radius: 0 !important; }
      #contacto form .textarea-form {
        resize: none; }
      #contacto form .btn {
        border-radius: 0 !important; }

  #footer {
    padding-left: 50px;
    padding-right: 50px; }
    #footer .footer__textoVectores {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; }
    #footer p {
      padding: 0px 10px; } }
@media (min-width: 992px) {
  #nosotros .nosotros__foto--tamanio {
    width: 100%; }
  #nosotros .nosotrosText {
    font-size: 1.2rem;
    line-height: 27px;
    padding-bottom: 0px; }

  #footer {
    padding-left: 100px;
    padding-right: 100px; } }
@media (min-width: 1200px) {
  @keyframes img-opacity {
    13% {
      opacity: 0; }
    14% {
      opacity: 1; }
    49% {
      opacity: 1; }
    50% {
      opacity: 0; } }
  @keyframes simbolo-1 {
    0% {
      opacity: 1;
      top: -10%;
      left: 49%;
      transform: scaleY(4.5); }
    33% {
      opacity: 1;
      top: 80%;
      left: 49%;
      transform: scaleY(0.8); }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      transform: scaleY(0.8); }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      transform: scaleY(0.8); } }
  @keyframes simbolo-2 {
    0% {
      opacity: 0;
      top: -10%;
      left: 49%; }
    33% {
      opacity: 0;
      top: -10%;
      left: 49%;
      transform: scaleY(3); }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      transform: scaleY(0.8); }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      transform: scaleY(0.8); } }
  #inicio .logo-container {
    display: inline-block; }
  #inicio .img-logo img {
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 49%;
    animation-name: img-opacity;
    animation-duration: 3s;
    transition: all 0s linear; }
  #inicio .inicio__animacion img {
    width: 80px; }
  #inicio .inicio__animacion .simbolo-1 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    animation-name: simbolo-1;
    animation-duration: 3s;
    transition: all 4s ease-in;
    transform: scaleY(0.8); }
  #inicio .inicio__animacion .simbolo-2 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    animation-name: simbolo-2;
    animation-duration: 3s;
    transition: all 4s ease-in;
    transform: scaleY(0.8); }

  #nosotros .nosotros__foto--tamanio {
    height: 500px; }
  #nosotros .nosotrosText {
    font-size: 1.3rem;
    line-height: 35px;
    padding-top: 0px;
    padding-right: 130px;
    padding-left: 15px; } }
@media (min-width: 1400px) {
  @keyframes img-opacity {
    13% {
      opacity: 0; }
    14% {
      opacity: 1; }
    49% {
      opacity: 1; }
    54% {
      opacity: 0; } }
  @keyframes simbolo-1 {
    0% {
      opacity: 1;
      top: -10%;
      left: 49%;
      transform: scaleY(4.5); }
    33% {
      opacity: 1;
      top: 80%;
      left: 49%;
      transform: scaleY(0.8); }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      transform: scaleY(0.8); }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      transform: scaleY(0.8); } }
  @keyframes simbolo-2 {
    0% {
      opacity: 0;
      top: -10%;
      left: 49%; }
    33% {
      opacity: 0;
      top: -10%;
      left: 49%;
      transform: scaleY(3); }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      transform: scaleY(0.8); }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      transform: scaleY(0.8); } }
  #inicio .logo-container {
    display: inline-block; }
  #inicio .img-logo img {
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 49%;
    animation-name: img-opacity;
    animation-duration: 3s;
    transition: all 0s linear; }
  #inicio .inicio__animacion img {
    width: 80px; }
  #inicio .inicio__animacion .simbolo-1 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    animation-name: simbolo-1;
    animation-duration: 3s;
    transition: all 4s ease-in;
    transform: scaleY(0.8); }
  #inicio .inicio__animacion .simbolo-2 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    animation-name: simbolo-2;
    animation-duration: 3s;
    transition: all 4s ease-in;
    transform: scaleY(0.8); } }

/*# sourceMappingURL=app.css.map */
