// VARIABLES
$color-uno: rgb(247, 241, 241);
$color-gris: #9B9B9B;

/* GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h2.subtitulo {
    font-size: 28px;
    margin-bottom: 35px;
    padding: 15px;

    span {
      border-bottom: 5px solid;
      // padding: 5px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Josefin Sans', sans-serif;
  }

  // Probando tipografía
  p,
  a {
    font-family: 'Lato', sans-serif;
  }


  .columnaBorderTop {
    border-top: 5px solid;
  }

}

// MENU 

#menu {

  .miLogo {
    width: 125px;
  }

}

.row__menu {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

// INICIO

// KEYFRAMES INICIO 
@keyframes movimiento-background{
  from{
    background-position: top right;
  }
  to{
    background-position: bottom left;
  }
}
@keyframes img-opacity {
  13% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
}


@keyframes simbolo-1{
  0%{
    opacity: 1;
    top: -10%;
    left: 49%;
    transform: scaleY(3.5);
  }
  33%{
    opacity: 1;
    top: 75%;
    left: 49%;
    transform: scaleY(0.7);
  }
  90%{
    opacity: 1;
    top: 75%;
    left: 49%;
    transform: scaleY(0.7);
  }
  100%{
    opacity: 1;
    top: 75%;
    left: 5%;
    transform: scaleY(0.7);
  }
}
@keyframes simbolo-2{
  0%{
    opacity: 0;
    top: -10%;
    left: 49%;
  }
  33%{
    opacity: 0;
    top: -10%;
    left: 49%;
    transform: scaleY(3.5);
  }
  90%{
    opacity: 1;
    top: 75%;
    left: 49%;
    transform: scaleY(0.7);
  }
  100%{
    opacity: 1;
    top: 75%;
    left: 5%;
    transform: scaleY(0.7);
  }
}

#inicio {
  width: 100%;
  height: auto;

  .carousel {
    height: auto;
    position: inherit;
  }
  .contenedor-inicio-carousel{
    height: 100vh;
  }
  .img-carousel-inicio{
    position: fixed;
    width: 100%;
    height: 85vh;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  //EFECTO INICIO

  .carousel-container {
    height: auto;
    
    display: inline-block;
    

    #item-carousel-uno{
      background-image: url("../assets/images/Renders-inico/Inicio1.jpg");
    }
    #item-carousel-dos{
      background-image: url("../assets/images/Renders-inico/Inicio2.jpg");   
    }
    #item-carousel-tres{
      background-image: url("../assets/images/Renders-inico/Inicio3.jpg");
    }
  }

  .logo-container {
    display: none;
    height: 85vh;
  }

  @media (min-width: 992px) {

    .logo-container {
      display: inline-block;
    }

    .img-logo {
      img{
        opacity: 0;
        width: 80px;
        position: absolute;
        top: 50%;
        left: 49%;
        animation-name: img-opacity;
        animation-duration: 3s;
        transition: all 0s linear;
      }
    }

    

    .inicio__animacion{
      img{
        width: 80px;
      }
      .simbolo-1{
        position: absolute;
        opacity: 1;
        top: 75%;
        left: 5%;
        animation-name: simbolo-1;
        animation-duration: 3s;
        transition: all 4s ease-in;
        transform: scaleY(0.7);
      }
      .simbolo-2{
        position: absolute;
        opacity: 1;
        top: 75%;
        left: 5%;
        animation-name: simbolo-2;
        animation-duration: 3s;
        transition: all 4s ease-in;
        transform: scaleY(0.7);
      }
    }
  }
}

// SLOGAN 

  .slogan__contenedor {
    padding: 40px 0px;
    height: 25vh;
    display: flex;
    align-items: center;

    .sloganLato {
      // font-size: 1.4rem;
      // line-height: 30px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }

    p{
      margin-bottom: 0px;
    }

  }

// NOSOTROS

#nosotros {
  padding: 30px 0px;
  p{
    font-size: 1rem;
  }
  .nosotros__foto--tamanio {
    width: 90%;
    justify-content: center;
    border-radius: 2px;
  }

  .nosotrosText {
    color: $color-gris;
    font-size: 1.3rem;
    padding: 15px;
  }

}

// PROYECTOS

#proyectos {
  padding: 30px 0px;

  .nav-proyectos ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-proyectos button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    color: $color-gris;
    margin-right: 20px;
    padding-left: 15px;
  }

  .nav-proyectos button:hover {
    color: black;
  }

  .nav-proyectos button.active {
    color: black;
  }
  .contenedor-proyectos {
    padding: 20px;
  }
  .button-img-proyectos{
    object-fit: cover;
    width: 90%;
    max-height: 300px;
  }
  .video-list-proyectos{
    width: 375px;
    height: 375px;
    object-fit: cover;
  }
  @media (min-width: 576px) {
    .nav-proyectos ul {
      flex-direction: row;
    }
    .button-img-proyectos{
      width: 375px;
      height: 375px;
    }
  }
}

//CAROUSEL

.carousel {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;

  .img-carousel-proyectos{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }
  .video-carousel-proyecto, .video-carousel-proyecto source{
    display: block;
    margin: auto;
    width: 100%;
    max-height: 80vh;
    border: none;
    object-fit: cover;
  }

}

.carousel .imgSlider {
  width: 100%;
  height: auto;
}

// MODALE

.modal-content {
  background-color: transparent;
  border: none;
  overflow: none;

  .modal-body{
    height: auto;
  }
}
.modal-backdrop{
  width: 100%;
  height: 150vh;
}

.modal-content {
  width: 100%;
  padding: 100px 10px;
  background-color: transparent;
  border: none;

  @media (min-width: 576px) {
    padding: 0;
  }
}
.modal-header {
  border: none;
}

.spinner{
  margin: 10px auto;
  border: 4px solid rgba(0,0,0, .1);
  width: 36px; 
  height: 36px;
  border-radius: 50%;
  border-left-color: black;
  background: white;
  animation: spin 1s linear infinite;
}
.cargando{
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #999;
}
@keyframes spin {
  0%{
      transform: rotate(0deg);
  }
  100%{ 
      transform: rotate(360deg)
  }
}
// SERVICIOS 

#servicios {
  padding: 30px 0px;

  .row{
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .card-title{
    font-size: 1rem;
  }
  .subtitulo{
    padding-left: 15px;
    padding-right: 15px;
  }

  .servicios__alto{
    min-height: 373px;
  }

  .servicios__padding {
    padding: 1rem 1rem 0 1rem; 
    min-height: 80px;
  }

  .serviciosSombra {
    box-shadow: 3px 3px 15px #999;
  }

}

// CONTACTO

#contacto {
  padding: 30px 0;

  p {
    font-size: 20px;
    padding: 0px 15px;
    strong {
      line-height: 50px;
    }
  }

  form {
    width: 100%;

    .form-control {
      font-size: 17px;
      border: 1px solid #333;
      border-radius: 0 !important;
    }

    .textarea-form {
      resize: none;
    }

    .btn {
      border-radius: 0 !important;
      margin: 0 !important;
    }

  }
  .alert-form{
    bottom: -50px;
    left: 5px;
    border-radius: 0 !important;
    margin: 0 !important;
  }
}

// FOOTER 

#footer {
  background-color: #282c2d;
  padding: 15px;

  p{
    color: white;
    margin-bottom: 0px;
    text-align: center;
  }
  .footer__logo {
    width: 80px;
  }
  .footer__textoVectores{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__contenedorVectores{
    display: flex;
    justify-content: center;
  }
  .footer__vector {
    margin-top: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: white;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  // GENERALES

  h2.subtitulo {
    font-size: 34px;
    margin-bottom: 35px;
    padding: 15px;

    span {
      border-bottom: 5px solid;
      // padding: 5px;
    }
  }

  // NOSOTROS

#nosotros {
  padding: 100px 0px;
  .nosotros__foto--tamanio {
    width: 90%;
  }

  .nosotrosText {
    
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
  }
}

// INICIO 

#inicio{


  // SLOGAN 
    .slogan__contenedor {
      padding: 40px 0px;
      height: 30vh;

      .sloganLato {
        font-size: 1.1rem;
        line-height: 32px;
      }
      p{
        margin-bottom: 0px;
      }
    }
  }

  // PROYECTOS 

  #proyectos{
    padding: 100px 0px;
  }


// SERVICIOS 

#servicios {
  padding: 100px 15px;

  .card-title{
    font-size: 1.1rem;
  }
  .servicios__alto{
    min-height: 373px;
  }

  .servicios__padding {
    padding: 2rem 2rem 0 2rem;
    min-height: 80px;
  }

  .serviciosSombra {
    box-shadow: 3px 3px 15px #999;
  }

}

// CONTACTO 

#contacto{
  padding: 100px 0px;
}



// FOOTER 


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 
  // NAVBAR
  .nav__bordeDer {
    border-right: 1px solid;
  }


  // INICIO 

// SLOGAN 

#inicio{

    // ANIMACION CAROUSEL 
    
    .img-carousel-inicio{
      height: 50vh;
      background-size: 100%;
      animation:movimiento-background 20s infinite linear alternate;
    }

  .slogan__contenedor {
    padding: 40px 0px;
    height: 35vh;

    .sloganLato {
      font-size: 1.2rem;
      line-height: 32px;
    }

  }

}


// NOSOTROS

#nosotros {
        
  .nosotros__foto--tamanio {
    width: 75%;
  }
  .nosotrosText {
    font-size: 1.3rem;
    line-height: 35px;
    padding-top: 0px;
    padding-right: 130px;
    padding-left: 15px;
  }
}


// CONTACTO

#contacto {
  padding: 100px 0;

  p {
    font-size: 20px;

    strong {
      line-height: 50px;
    }
  }

  form {
    width: 100%;

    .form-control {
      font-size: 17px;
      border: 1px solid #333;
      border-radius: 0 !important;
    }

    .textarea-form {
      resize: none;
    }

    .btn {
      border-radius: 0 !important;
    }
  }
}


// FOOTER 

#footer {

  padding-left: 50px;
  padding-right: 50px;

  .footer__textoVectores{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  p{
    padding: 0px 10px;
  }
}


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


    // NOSOTROS

    #nosotros {

      .nosotros__foto--tamanio {
        width: 100%;
      }
      .nosotrosText {
        font-size: 1.2rem;
        line-height: 27px;
        padding-bottom: 0px;
      }
    
    }

    // FOOTER 

#footer {

  padding-left: 100px;
  padding-right: 100px;
}


}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


  // KEYFRAMES INICIO 

  

@keyframes img-opacity {
  13% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


@keyframes simbolo-1{
  0%{
    opacity: 1;
    top: -10%;
    left: 49%;
    transform: scaleY(4.5);
  }
  33%{
    opacity: 1;
    top: 80%;
    left: 49%;
    transform: scaleY(0.8);
  }
  90%{
    opacity: 1;
    top: 80%;
    left: 49%;
    transform: scaleY(0.8);
  }
  100%{
    opacity: 1;
    top: 80%;
    left: 7%;
    transform: scaleY(0.8);
  }
}
@keyframes simbolo-2{
  0%{
    opacity: 0;
    top: -10%;
    left: 49%;
  }
  33%{
    opacity: 0;
    top: -10%;
    left: 49%;
    transform: scaleY(3);
  }
  90%{
    opacity: 1;
    top: 80%;
    left: 49%;
    transform: scaleY(0.8);
  }
  100%{
    opacity: 1;
    top: 80%;
    left: 7%;
    transform: scaleY(0.8);
  }
}

#inicio{

.logo-container {
  display: inline-block;
}
.img-logo {
  img{
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 49%;
    animation-name: img-opacity;
    animation-duration: 3s;
    transition: all 0s linear;
  }
}
.inicio__animacion{
    img{
      width: 80px;
    }
    .simbolo-1{
      position: absolute;
      opacity: 1;
      top: 80%;
      left: 7%;
      animation-name: simbolo-1;
      animation-duration: 3s;
      transition: all 4s ease-in;
      transform: scaleY(0.8);
    }
    .simbolo-2{
      position: absolute;
      opacity: 1;
      top: 80%;
      left: 7%;
      animation-name: simbolo-2;
      animation-duration: 3s;
      transition: all 4s ease-in;
      transform: scaleY(0.8);
    }
  }
}


      // NOSOTROS

      #nosotros {

        .nosotros__foto--tamanio {
          height: 500px;
        }
        .nosotrosText {
          font-size: 1.3rem;
          line-height: 35px;
          padding-top: 0px;
          padding-right: 130px;
          padding-left: 15px;
        }
      }


}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {


    // KEYFRAMES INICIO 

  

@keyframes img-opacity {
  13% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
}


@keyframes simbolo-1{
  0%{
    opacity: 1;
    top: -10%;
    left: 49%;
    transform: scaleY(4.5);
  }
  33%{
    opacity: 1;
    top: 80%;
    left: 49%;
    transform: scaleY(0.8);
  }
  90%{
    opacity: 1;
    top: 80%;
    left: 49%;
    transform: scaleY(0.8);
  }
  100%{
    opacity: 1;
    top: 80%;
    left: 5%;
    transform: scaleY(0.8);
  }
}
@keyframes simbolo-2{
  0%{
    opacity: 0;
    top: -10%;
    left: 49%;
  }
  33%{
    opacity: 0;
    top: -10%;
    left: 49%;
    transform: scaleY(3);
  }
  90%{
    opacity: 1;
    top: 80%;
    left: 49%;
    transform: scaleY(0.8);
  }
  100%{
    opacity: 1;
    top: 80%;
    left: 5%;
    transform: scaleY(0.8);
  }
}

#inicio{

.logo-container {
  display: inline-block;
}
.img-logo {
  img{
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 49%;
    animation-name: img-opacity;
    animation-duration: 3s;
    transition: all 0s linear;
  }
}
.inicio__animacion{
    img{
      width: 80px;
    }
    .simbolo-1{
      position: absolute;
      opacity: 1;
      top: 80%;
      left: 5%;
      animation-name: simbolo-1;
      animation-duration: 3s;
      transition: all 4s ease-in;
      transform: scaleY(0.8);
    }
    .simbolo-2{
      position: absolute;
      opacity: 1;
      top: 80%;
      left: 5%;
      animation-name: simbolo-2;
      animation-duration: 3s;
      transition: all 4s ease-in;
      transform: scaleY(0.8);
    }
  }
}

}