/* GENERALES */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2.subtitulo {
  font-size: 28px;
  margin-bottom: 35px;
  padding: 15px;
}

h2.subtitulo span {
  border-bottom: 5px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}

p,
a {
  font-family: 'Lato', sans-serif;
}

.columnaBorderTop {
  border-top: 5px solid;
}

#menu .miLogo {
  width: 125px;
}

.row__menu {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@-webkit-keyframes movimiento-background-uno {
  0% {
    background-position: center left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes movimiento-background-uno {
  0% {
    background-position: center left;
  }
  100% {
    background-position: top right;
  }
}

@-webkit-keyframes movimiento-background-dos {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@keyframes movimiento-background-dos {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

@-webkit-keyframes img-opacity {
  13% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
}

@keyframes img-opacity {
  13% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
}

@-webkit-keyframes simbolo-1 {
  0% {
    opacity: 1;
    top: -10%;
    left: 49%;
    -webkit-transform: scaleY(3.5);
            transform: scaleY(3.5);
  }
  33% {
    opacity: 1;
    top: 75%;
    left: 49%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  90% {
    opacity: 1;
    top: 75%;
    left: 49%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    top: 75%;
    left: 3%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
}

@keyframes simbolo-1 {
  0% {
    opacity: 1;
    top: -10%;
    left: 49%;
    -webkit-transform: scaleY(3.5);
            transform: scaleY(3.5);
  }
  33% {
    opacity: 1;
    top: 75%;
    left: 49%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  90% {
    opacity: 1;
    top: 75%;
    left: 49%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    top: 75%;
    left: 3%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
}

@-webkit-keyframes simbolo-2 {
  0% {
    opacity: 0;
    top: -10%;
    left: 49%;
  }
  33% {
    opacity: 0;
    top: -10%;
    left: 49%;
    -webkit-transform: scaleY(3.5);
            transform: scaleY(3.5);
  }
  90% {
    opacity: 1;
    top: 75%;
    left: 49%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    top: 75%;
    left: 3%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
}

@keyframes simbolo-2 {
  0% {
    opacity: 0;
    top: -10%;
    left: 49%;
  }
  33% {
    opacity: 0;
    top: -10%;
    left: 49%;
    -webkit-transform: scaleY(3.5);
            transform: scaleY(3.5);
  }
  90% {
    opacity: 1;
    top: 75%;
    left: 49%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  100% {
    opacity: 1;
    top: 75%;
    left: 3%;
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
}

#inicio {
  width: 100%;
  height: 100%;
}

#inicio .carousel {
  width: 100%;
  height: auto;
}

#inicio .img-carousel-inicio {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
}

#inicio .carousel-container {
  height: auto;
  display: inline-block;
}

#inicio .carousel-container #item-carousel-uno {
  background-image: url("../assets/images/Renders-inico/Inicio1.jpg");
  background-size: 100%;
}

#inicio .carousel-container #item-carousel-dos {
  background-image: url("../assets/images/Renders-inico/Inicio2.jpg");
  background-size: 100%;
}

#inicio .carousel-container #item-carousel-tres {
  background-image: url("../assets/images/Renders-inico/Inicio3.jpg");
  background-size: 100%;
}

#inicio .logo-container {
  display: none;
  height: 85vh;
}

@media (max-width: 275.98px) {
  #inicio {
    height: 160px;
  }
}

@media (min-width: 276.99px) and (max-width: 375.98px) {
  #inicio {
    height: 200px;
  }
  #inicio .img-carousel-inicio {
    height: 30vh;
  }
}

@media (min-width: 375.99px) and (max-width: 475.98px) {
  #inicio {
    height: 220px;
  }
  #inicio .img-carousel-inicio {
    height: 30vh;
  }
}

@media (min-width: 475.99px) and (max-width: 575.98px) {
  #inicio {
    height: 290px;
  }
  #inicio .img-carousel-inicio {
    height: 40vh;
  }
}

.slogan__contenedor {
  padding: 40px 0px;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan__contenedor .sloganLato {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.slogan__contenedor p {
  margin-bottom: 0px;
}

#nosotros {
  padding: 30px 0px;
}

#nosotros .nosotros__foto--tamanio {
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
}

#nosotros .nosotrosText {
  color: #9B9B9B;
  padding: 15px;
}

#proyectos {
  padding: 30px 0px;
}

#proyectos .nav-proyectos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#proyectos .nav-proyectos button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  color: #9B9B9B;
  margin-right: 20px;
  padding-left: 15px;
}

#proyectos .nav-proyectos button:hover {
  color: black;
}

#proyectos .nav-proyectos button.active {
  color: black;
}

#proyectos .contenedor-proyectos {
  padding: 20px;
}

#proyectos .button-img-proyectos {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  height: 350px;
}

#proyectos .video-list-proyectos {
  width: 90%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  #proyectos .nav-proyectos ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.carousel {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.carousel .img-carousel-proyectos {
  width: 100vw;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .img-carousel-realidad {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 90vh;
}

.carousel .video-carousel-proyecto, .carousel .video-carousel-proyecto source {
  display: block;
  margin: auto;
  width: 100%;
  max-height: 80vh;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-content {
  background-color: transparent;
  border: none;
  overflow: none;
}

.modal-content .modal-body {
  height: auto;
}

.modal-backdrop {
  width: 100vw;
  height: 150vh;
}

.modal-content {
  width: 90vw;
  padding: 100px 10px;
  background-color: transparent;
  border: none;
}

@media (min-width: 576px) {
  .modal-content {
    padding: 0;
  }
}

.modal-header {
  border: none;
}

.spinner {
  margin: 10px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: black;
  background: white;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.cargando {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #999;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#servicios {
  padding: 30px 0px;
}

#servicios .row {
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}

#servicios .card-title {
  font-size: 1rem;
}

#servicios .subtitulo {
  padding-left: 15px;
  padding-right: 15px;
}

#servicios .servicios__alto {
  min-height: 373px;
}

#servicios .servicios__padding {
  padding: 1rem 1rem 0 1rem;
  min-height: 80px;
}

#servicios .serviciosSombra {
  -webkit-box-shadow: 3px 3px 15px #999;
          box-shadow: 3px 3px 15px #999;
}

#contacto {
  padding: 30px 0;
}

#contacto p {
  font-size: 20px;
  padding: 0px 15px;
}

#contacto p strong {
  line-height: 50px;
}

#contacto form {
  width: 100%;
}

#contacto form .form-control {
  font-size: 17px;
  border: 1px solid #333;
  border-radius: 0 !important;
}

#contacto form .textarea-form {
  resize: none;
}

#contacto form .btn {
  border-radius: 0 !important;
  margin: 0 !important;
}

#contacto .alert-form {
  bottom: -50px;
  left: 5px;
  border-radius: 0 !important;
  margin: 0 !important;
}

#footer {
  background-color: #282c2d;
  padding: 20px;
}

#footer .footer__texto p {
  color: white;
  margin-bottom: 5px;
  text-align: center;
  font-size: 17px;
}

#footer .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer__redes a {
  color: #fff;
  font-size: 25px;
  margin: 0 10px;
}

#footer .footer__logo {
  display: none;
}

@media (min-width: 576px) {
  h2.subtitulo {
    font-size: 34px;
    margin-bottom: 35px;
    padding: 15px;
  }
  h2.subtitulo span {
    border-bottom: 5px solid;
  }
  #inicio .contenedor-inicio-carousel {
    height: 45vh;
  }
  #inicio .img-carousel-inicio {
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: scale-down !important;
  }
}

@media (min-width: 576px) and (min-width: 644.99px) and (max-width: 767.98px) {
  #inicio .contenedor-inicio-carousel {
    height: 30vh;
  }
  #inicio .img-carousel-inicio {
    height: 30vh;
  }
}

@media (min-width: 576px) {
  .slogan__contenedor {
    padding: 40px 0px;
    height: 30vh;
  }
  .slogan__contenedor .sloganLato {
    font-size: 1.1rem;
    line-height: 32px;
  }
  .slogan__contenedor p {
    margin-bottom: 0px;
  }
  #nosotros {
    padding: 100px 0px;
  }
  #nosotros .nosotros__foto--tamanio {
    width: 90%;
  }
  #nosotros .nosotrosText {
    padding-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
  }
  #proyectos {
    padding: 100px 0px;
  }
  #servicios {
    padding: 100px 15px;
  }
  #servicios .card-title {
    font-size: 1.1rem;
  }
  #servicios .servicios__alto {
    min-height: 373px;
  }
  #servicios .servicios__padding {
    padding: 2rem 2rem 0 2rem;
    min-height: 80px;
  }
  #servicios .serviciosSombra {
    -webkit-box-shadow: 3px 3px 15px #999;
            box-shadow: 3px 3px 15px #999;
  }
  #contacto {
    padding: 100px 0px;
  }
  #footer .footer__texto p {
    text-align: end;
  }
  #footer .footer__redes {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #footer .footer__logo {
    display: block;
    width: 60px;
  }
}

@media (min-width: 768px) {
  .nav__bordeDer {
    border-right: 1px solid;
  }
  #inicio {
    height: 40vh;
  }
  #inicio .carousel {
    position: absolute;
    width: 100vw;
    height: auto;
  }
  #inicio .img-carousel-inicio {
    height: 60vh;
  }
  #inicio .logo-container {
    width: 90vw;
    position: relative;
  }
  .slogan__contenedor {
    padding: 40px 0px;
    height: 30vh;
  }
  .slogan__contenedor .sloganLato {
    font-size: 1.2rem;
    line-height: 32px;
  }
  #nosotros .nosotros__foto--tamanio {
    width: 75%;
  }
  #nosotros .nosotrosText {
    font-size: 1.1rem;
    padding-top: 0px;
    padding-right: 70px;
    padding-left: 70px;
  }
  #contacto {
    padding: 100px 0;
  }
  #contacto p {
    font-size: 20px;
  }
  #contacto p strong {
    line-height: 50px;
  }
  #contacto form {
    width: 100%;
  }
  #contacto form .form-control {
    font-size: 17px;
    border: 1px solid #333;
    border-radius: 0 !important;
  }
  #contacto form .textarea-form {
    resize: none;
  }
  #contacto form .btn {
    border-radius: 0 !important;
  }
}

@media (min-width: 992px) {
  #inicio {
    height: 90vh;
  }
  #inicio .carousel {
    max-height: 90vh;
  }
  #inicio .contenedor-inicio-carousel {
    height: 90vh;
  }
  #inicio .img-carousel-inicio {
    height: 90vh;
  }
  .slogan__contenedor {
    height: 30vh;
  }
  #nosotros .nosotros__foto--tamanio {
    width: 100%;
  }
  #nosotros .nosotrosText {
    line-height: 28px;
    padding-bottom: 0px;
    padding-right: 130px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  @-webkit-keyframes img-opacity {
    13% {
      opacity: 0;
    }
    14% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  @keyframes img-opacity {
    13% {
      opacity: 0;
    }
    14% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  @-webkit-keyframes simbolo-1 {
    0% {
      opacity: 1;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(4.5);
              transform: scaleY(4.5);
    }
    33% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @keyframes simbolo-1 {
    0% {
      opacity: 1;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(4.5);
              transform: scaleY(4.5);
    }
    33% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @-webkit-keyframes simbolo-2 {
    0% {
      opacity: 0;
      top: -10%;
      left: 49%;
    }
    33% {
      opacity: 0;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(3);
              transform: scaleY(3);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @keyframes simbolo-2 {
    0% {
      opacity: 0;
      top: -10%;
      left: 49%;
    }
    33% {
      opacity: 0;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(3);
              transform: scaleY(3);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  #inicio {
    height: 100vh;
    max-height: 100vh;
  }
  #inicio .img-carousel-inicio {
    background-attachment: fixed;
  }
  #inicio .carousel-container {
    height: 100vh;
  }
  #inicio .carousel-container #item-carousel-uno {
    background-size: 100%;
    -webkit-animation: movimiento-background-uno 10s ease;
            animation: movimiento-background-uno 10s ease;
  }
  #inicio .carousel-container #item-carousel-dos {
    background-size: 110%;
    -webkit-animation: movimiento-background-uno 10s ease;
            animation: movimiento-background-uno 10s ease;
  }
  #inicio .carousel-container #item-carousel-tres {
    background-size: 100%;
    -webkit-animation: movimiento-background-uno 10s ease;
            animation: movimiento-background-uno 10s ease;
  }
  #inicio .logo-container {
    display: inline-block;
  }
  #inicio .img-logo img {
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 49%;
    -webkit-animation-name: img-opacity;
            animation-name: img-opacity;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
  }
  #inicio .inicio__animacion img {
    width: 80px;
  }
  #inicio .inicio__animacion .simbolo-1 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    -webkit-animation-name: simbolo-1;
            animation-name: simbolo-1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 4s ease-in;
    transition: all 4s ease-in;
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
  #inicio .inicio__animacion .simbolo-2 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    -webkit-animation-name: simbolo-2;
            animation-name: simbolo-2;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 4s ease-in;
    transition: all 4s ease-in;
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
  #nosotros .nosotros__foto--tamanio {
    height: 500px;
  }
  #nosotros .nosotrosText {
    font-size: 1.2rem;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 130px;
    padding-left: 15px;
  }
}

@media (min-width: 1400px) {
  @-webkit-keyframes img-opacity {
    13% {
      opacity: 0;
    }
    14% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    54% {
      opacity: 0;
    }
  }
  @keyframes img-opacity {
    13% {
      opacity: 0;
    }
    14% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    54% {
      opacity: 0;
    }
  }
  @-webkit-keyframes simbolo-1 {
    0% {
      opacity: 1;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(4.5);
              transform: scaleY(4.5);
    }
    33% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @keyframes simbolo-1 {
    0% {
      opacity: 1;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(4.5);
              transform: scaleY(4.5);
    }
    33% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @-webkit-keyframes simbolo-2 {
    0% {
      opacity: 0;
      top: -10%;
      left: 49%;
    }
    33% {
      opacity: 0;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(3);
              transform: scaleY(3);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  @keyframes simbolo-2 {
    0% {
      opacity: 0;
      top: -10%;
      left: 49%;
    }
    33% {
      opacity: 0;
      top: -10%;
      left: 49%;
      -webkit-transform: scaleY(3);
              transform: scaleY(3);
    }
    90% {
      opacity: 1;
      top: 80%;
      left: 49%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
    100% {
      opacity: 1;
      top: 80%;
      left: 3%;
      -webkit-transform: scaleY(0.8);
              transform: scaleY(0.8);
    }
  }
  #inicio .logo-container {
    display: inline-block;
  }
  #inicio .img-logo img {
    opacity: 0;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 49%;
    -webkit-animation-name: img-opacity;
            animation-name: img-opacity;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
  }
  #inicio .inicio__animacion img {
    width: 80px;
  }
  #inicio .inicio__animacion .simbolo-1 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    -webkit-animation-name: simbolo-1;
            animation-name: simbolo-1;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 4s ease-in;
    transition: all 4s ease-in;
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
  #inicio .inicio__animacion .simbolo-2 {
    position: absolute;
    opacity: 1;
    top: 80%;
    left: 3%;
    -webkit-animation-name: simbolo-2;
            animation-name: simbolo-2;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 4s ease-in;
    transition: all 4s ease-in;
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
  }
}
/*# sourceMappingURL=app.css.map */