// VARIABLES
$color-uno: rgb(247, 241, 241);
$color-gris: #282c2d;

/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h2.subtitulo{
    font-size: 40px;
    margin-bottom: 35px;
    span{
      border-bottom: 5px solid;
      padding: 5px;
    }
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
  }

  // Probando tipografía
  p, a{
    font-family: 'Lato', sans-serif;
  }
  
  .miContenedor{
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  
  .columnaBorderTop{
    border-top: 5px solid;
  }

}

// MENU 

#menu{

  .miLogo{
    width: 125px;
  }
  
}
.row__menu{
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}


// INICIO

#inicio{
  width: 100%;
  height: auto;

  .carousel{
    height: auto;
    position: inherit;
  }
  .slogan__contenedor{
    height: 20vh;
    display: flex;
    align-items: center;
  }
  .sloganLato{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  
}

// NOSOTROS

#nosotros{

.nosotros__foto--tamanio{
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 2px;
}
.nosotrosText{
  color: #9B9B9B;
  font-size: 1.3rem;
  padding-top: 0px;
  padding-right: 125px;
  padding-left: 0px;
  padding-bottom: 0px;
}

}




// PROYECTOS

#proyectos {

  .nav-proyectos button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    margin-right: 70px;
    color: $color-gris;
  }

  .nav-proyectos button:hover {
    color: black;
  }

  .nav-proyectos button.active {
    color: black;
  }
}

//CAROUSEL

.carousel {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 50px;
}

.carousel .imgSlider {
  width: 50%;
  height: auto;
}

// MODALE

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border: none;
}


// SERVICIOS 

#servicios{

.servicios__miPadding{
  padding: 2rem 2rem 0 2rem;
}
.serviciosSombra{
  box-shadow: 3px 3px 15px #999;
}

}

// CONTACTO

#contacto{
  padding: 160px 50px;
  p{
    font-size: 20px;
    strong{
      line-height: 50px;
    }
  }
  form{
    width: 90%;
    .form-control{
      font-size: 17px;
      font-style: italic;
      border: 1px solid #333;
      border-radius: 0 !important;
    }
    .textarea-form{
      resize: none;
    }
    .btn{
      width: 20%;
      border-radius: 0 !important;
    }
  }
}

// FOOTER 

  #footer{

    background-color: #282c2d;
    height: 10vh;
    // display: flex;
    align-items: center;

    p{
      color: white;
      display: inline;
    }

    .footer__logo{
      width: 100px;
    }
    .footer__vector{
      width: 50px;
      border-radius: 50px;
      background-color: white;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav__bordeDer {
    border-right: 1px solid;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}