// VARIABLES
$color-uno: rgb(247, 241, 241);
$color-gris: #282c2d;

#inicio{
  width: 100%;
  height: 160vh;
}

/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .slogan__contenedor{
    height: 25vh;
    display: flex;
    align-items: center;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }
  .miContenedor{
    min-height: 100vh;
    
    // align-items: center;
  }
  .miLogo{
    width: 125px;
  }
  .NosotrosTamanio{
    width: 90%;
    border-radius: 2px;
  }
  .nosotros__text--tamanio{
    font-size: 1.3rem;
    max-width: 75vw;
  }
  .columnaBorderTop{
    border-top: 5px solid;
  }
  .servicios__miPadding{
    padding: 2rem 2rem 0 2rem;
  }
  .serviciosSombra{
    box-shadow: 3px 3px 15px #999;
  }
  

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav__bordeDer {
    border-right: 1px solid;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}


#proyectos {

  .nav-proyectos button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    margin-right: 70px;
    color: $color-gris;
  }

  .nav-proyectos button:hover {
    color: black;
  }

  .nav-proyectos button.active {
    color: black;
  }
}

//CAROUSEL

.carousel {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 50px;
}

.carousel .imgSlider {
  width: 50%;
  height: auto;
}

// MODALE

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border: none;
}